[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/activemq"]
	path = modules/activemq
	url = https://github.com/puppetlabs/puppetlabs-activemq.git
[submodule "modules/mcollective"]
	path = modules/mcollective
	url = git@github.com:richardc/puppet-mcollective.git
[submodule "modules/datacat"]
	path = modules/datacat
	url = git@github.com:richardc/puppet-datacat.git
[submodule "modules/java_ks"]
	path = modules/java_ks
	url = https://github.com/puppetlabs/puppetlabs-java_ks.git
